<footer class="e-commerce-footer">
  <div class="container">
    <div class="footer-section">
      <h3>Customer Service</h3>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Shipping Information</a></li>
        <li><a href="#">Returns & Exchanges</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Shop</h3>
      <ul>
        <li><a href="#">Men</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Kids</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Connect</h3>
      <ul>
        <li><a href="#">Newsletter Signup</a></li>
        <li><a href="#">Follow Us on Social Media</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Contact Information</h3>
      <p>
        123 prime store<br />Darbhanga, Bihar 846002<br />
        Email: jawedhilmand022@gmail.com<br />Phone:
        +918271766683
      </p>
    </div>
  </div>

  <div class="info-footer">
    <div class="social-media">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
    <p>© 2023.All rights reserved by FashionHub</p>
  </div>
</footer>
