<nav class="nav">
  <div class="nav-title" *ngIf="menuType === 'seller' || menuType === 'user'">
    <h1>😊Welcome {{ sellerName | titlecase }}{{ userName | titlecase }}</h1>
  </div>
  <div class="navbar" [ngSwitch]="menuType">
    <a routerLink="/" class="logo-head">
      <img src="assets/fashion.png" alt="Myntra Logo"
    /></a>

    <!-- <div > -->
    <ul *ngSwitchCase="'default'" class="nav-link menu-link">
      <li><a routerLink="men">Men</a></li>
      <li><a routerLink="women">Women</a></li>
      <li><a routerLink="kids">Kids</a></li>
    </ul>
    <ul *ngSwitchCase="'user'" class="nav-link menu-link">
      <li><a routerLink="men">Men</a></li>
      <li><a routerLink="women">Women</a></li>
      <li><a routerLink="kids">Kids</a></li>
    </ul>
    <ul *ngSwitchCase="'default'" class="nav-link">
      <li (click)="toggleMobileMenu()">
        <a><i class="fa-solid fa-magnifying-glass"></i></a>
      </li>
      <li>
        <a routerLink="cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
      <li class="menu-link">
        <a routerLink="seller"><i class="fa-solid fa-lock"></i></a>
      </li>
      <li class="menu-link">
        <a routerLink="user"><i class="fa-solid fa-right-to-bracket"></i></a>
      </li>
      <li (click)="toggleMenu()" class="hamburger">
        <i class="fa-solid fa-bars"></i>
      </li>
    </ul>

    <ul *ngSwitchCase="'seller'" class="nav-link">
      <li><a routerLink="seller-add-product">Add Product</a></li>
      <li><a routerLink="seller-home">Product List</a></li>
      <li><a (click)="logOut()">Logout</a></li>
    </ul>

    <ul *ngSwitchCase="'user'" class="nav-link">
      <li (click)="toggleMobileMenu()">
        <a><i class="fa-solid fa-magnifying-glass"></i></a>
      </li>
      <li>
        <a routerLink="cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
      <li class="menu-link">
        <a class="user" (click)="logOut()"><i class="fa-solid fa-user"></i></a>
      </li>
      <li (click)="toggleMenu()" class="hamburger">
        <i class="fa-solid fa-bars"></i>
      </li>
    </ul>
    <!-- </div> -->
  </div>
</nav>
<!-- ------searchhing----------- -->
<div class="nav-search" *ngIf="isMobileMenuVisible">
  <div class="inner-toggle">
    <h2 class="close" (click)="toggleMobileMenu()">
      <i class="fa-solid fa-xmark"></i>
    </h2>

    <div class="input-div">
      <input
        #searchInput
        type="text"
        placeholder="Search for products..."
        (keyup)="searchProduct($event)"
        (blur)="hide()"
      />

      <button (click)="submitSearch(searchInput.value)">Search</button>
      <ul class="suggest-result" *ngIf="searchResult">
        <li *ngFor="let item of searchResult">
          <a (mousedown)="submitSearch(item.text)">{{ item.text }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- -------sidebar--------------------- -->
<div class="toggle" *ngIf="isHamburger">
  <div class="inner-toggle1">
    <div class="header-sidebar">
      <div class="logo">
        <img src="assets/fashion.png" alt="Myntra Logo" />
      </div>
      <h3 (click)="toggleMenu()">X</h3>
    </div>
    <ul class="link-menu1">
      <li><a routerLink="men" (click)="toggleMenu()">Men</a></li>
      <li><a routerLink="women" (click)="toggleMenu()">Women</a></li>
      <li><a routerLink="kids" (click)="toggleMenu()">Kids</a></li>
      <li>
        <a routerLink="cart" (click)="toggleMenu()"
          ><i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
      <li (click)="toggleMenu()">
        <a routerLink="seller"><i class="fa-solid fa-lock"></i></a>
      </li>
      <li *ngIf="menuType === 'default'">
        <a routerLink="user" (click)="toggleMenu()"
          ><i class="fa-solid fa-right-to-bracket"></i
        ></a>
      </li>
      <li *ngIf="menuType === 'user'">
        <a class="user" (click)="closeFuncHamber()"
          ><i class="fa-solid fa-user"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
