<div class="container">
    <form [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()">
      <h3>Login</h3>
      <input type="email" formControlName="email" placeholder="Enter your email"  required=""/>
      <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" class="error-message">
        Email is required.
      </div>
  
      <input type="password" formControlName="password" placeholder="Enter your password" required=""/>
      <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="error-message">
        Password is required.
      </div>
  
      <button type="submit">Login</button>
      <p>If a new user? <a routerLink="/signup">SignUp</a></p>
    </form>
  </div>
  