<!-- <app-navbar [itemCount]="itemCountInCart"></app-navbar> -->
<div class="containers">
  <div class="data-show">
    <div class="product-data" *ngFor="let item of cartData">
      <div class="img-div">
        <img [src]="item.image" alt="">
      </div>
      <div class="title">
        <h4>{{item.name}}</h4>
        <p>{{item.text}}</p>
      </div>
      <p>₹{{item.price}}</p>
      <button class="del-btn btn btn-danger" (click)="deleteItem(item)">Delete</button>
    </div>
    <!-- Conditionally show "Empty Cart" message -->
    <div *ngIf="cartData.length === 0" class="empty-cart-message">
      Your cart is empty.
    </div>
  </div>


    <div class="price-show">
      <h4>Product price:- <span>₹{{ totalProductPrice }}</span></h4>
      <h4>Discount Price:- <span>₹{{ totalDiscountPrice }}</span></h4>
      <h4>Total Price:- <span>₹{{totalProductPrice}}</span></h4>
      <button (click)="checkout()">Checkout</button>
</div>
</div>

