
<div class="container">
    <form [formGroup]="signupForm" class="form" (ngSubmit)="onSubmit()">
      <h3>SignUp</h3>
      <input type="text" formControlName="name" placeholder="Enter your name" />
      <div *ngIf="signupForm.controls['name'].touched && signupForm.controls['name'].invalid">Name is required.</div>
  
      <input type="text" formControlName="email" placeholder="Enter your email" />
      <div *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].invalid">Email is required.</div>
  
      <input type="password" formControlName="password" placeholder="Enter your password" />
      <div *ngIf="signupForm.controls['password'].touched && signupForm.controls['password'].invalid">Password is required.</div>
  
      <input type="password" formControlName="confirmPassword" placeholder="Enter your confirm password" />
      <div *ngIf="signupForm.controls['confirmPassword'].touched && signupForm.controls['confirmPassword'].invalid">Confirm Password is required.</div>
      <div *ngIf="signupForm.errors?.['passwordMismatch']">
        Password and Confirm Password must match.
      </div>
  
      <button type="submit" [disabled]="signupForm.invalid">SignUp</button>
      <p>If already registered? <a routerLink="/login">Login</a></p>
    </form>
  </div>