
<div class="container">
    <form class="form">
       <h3>SignUp</h3>
       <input type="text" name="" id="" placeholder="Enter your name">
        <input type="text" placeholder="Enter your email">
        <input type="password" name="" id="" placeholder="Enter your password">
        <input type="password" name="" id="" placeholder="Enter your confirm password">
        <button type="submit">SignUp</button>
        <p>If already register? <a routerLink="/signup">Login</a></p>
    </form>
</div>