<div>
  <!-- .................hero section.......................... -->
  <div class="hero">
    <div class="hero-img">
      <img src="../../assets/b1.avif" alt="" />
    </div>
    <div class="hero-text">
      <h1>Fashion<span>Hub</span></h1>
      <P
        >Explore our range of luxury products: shirts, T-shirts, Saree & more,
        only at FasionHub.</P
      >
      <div class="hero-input">
        <input #searchInput type="text" placeholder="Search for products..." (keyup)="searchProduct($event)" (blur)="hide()"/>
    
        <button (click)="submitSearch(searchInput.value)"><i class="fa-solid fa-magnifying-glass"></i></button>
        <!-- <ul class="suggest-result" *ngIf="searchResult">
          <li *ngFor="let item of searchResult">
            <a  (mousedown)="submitSearch(item.text)">{{item.text}}</a>
          </li>
        </ul> -->
      
      </div>
    </div>
  </div>
  <!-- ........................Popular catogery---------------- -->

  <div class="popular-catogery">
    <h2>Popular Category</h2>
    <hr />
    <app-carousel></app-carousel>
  </div>
  <div class="banner-offer">
    <img src="../../assets/diwali.avif" alt="" />
  </div>

  <!-- ........................Popular catogery---------------- -->

  <div class="popular-catogery">
    <h2>Trending</h2>
    <hr />
    <app-trendingitem></app-trendingitem>
  </div>
</div>
