
<div class="main">
  <div class="sidebar">
    <h2>Filter by</h2>
    <hr>
    <ul>
      
      <li><input type="checkbox" (change)="toggleCategoryFilter('All')"     [checked]="isCategorySelected('All')" > <span>All</span> </li>
      <li><input type="checkbox" (change)="toggleCategoryFilter('Shirt')"   [checked]="isCategorySelected('Shirt')"  /> <span>Shirt</span></li>
      <li><input type="checkbox" (change)="toggleCategoryFilter('T-Shirt')" [checked]="isCategorySelected('T-Shirt')" /> <span>T-Shirt</span></li>
      <li><input type="checkbox" (change)="toggleCategoryFilter('Trousers')" [checked]="isCategorySelected('Trousers')"/> <span>Trousers</span></li>
      <li><input type="checkbox" (change)="toggleCategoryFilter('Jeans')" [checked]="isCategorySelected('Jeans')"/> <span>Jeans</span></li>
      <li><input type="checkbox" (change)="toggleCategoryFilter('Jacket')" [checked]="isCategorySelected('Jacket')"/> <span>Jacket</span></li>
      <li><input type="checkbox" (change)="toggleCategoryFilter('Pants')" [checked]="isCategorySelected('Pants')"/> <span>Pants</span></li>
      <li><input type="checkbox" (change)="toggleCategoryFilter('Hoodie')" [checked]="isCategorySelected('Hoodie')"/> <span>Hoodie</span></li>
      <li><input type="checkbox" (change)="toggleCategoryFilter('Sweatshirt')" [checked]="isCategorySelected('Sweatshirt')"/> <span>Sweatshirt</span></li>
    </ul>
    <hr />
    <h2>Sort by Price</h2>
    <hr>
    <ul>
      <li><input type="radio" name="sortOption" [(ngModel)]="selectedSort" value="lowToHighPrice" (change)="sortProducts()"/> Low To High</li>
      <li><input type="radio" name="sortOption" [(ngModel)]="selectedSort" value="highToLowPrice" (change)="sortProducts()"/> High To Low</li>
    </ul>
    <hr />
    <h2>Sort by Best Discount</h2>
    <hr>
    <ul>
      <li><input type="radio" name="sortOption" [(ngModel)]="selectedSort" value="lowToHighDiscount" (change)="sortProducts()"/> Low To High</li>
      <li> <input type="radio" name="sortOption" [(ngModel)]="selectedSort" value="highToLowDiscount" (change)="sortProducts()"/> High To Low</li>
    </ul>
  </div>
  <!-- ---------------------- -->
  <div class="product-container">
    <div *ngFor="let item of filteredData" class="product" >
      <div (click)="navigateToProductDetail(item.id)">
        <img [src]="item.image" alt="{{ item.name }}" />
      </div>
    <div class="product-info">
      <h2>{{ item.name }}</h2>
      <p>{{ item.text }}</p>
      <div class="price-discount">
        <p>₹{{ item.price }}</p>
        <p class="dis_p">₹{{ item.disc_price }}</p>
        <p class="off">({{ item.price_off }})</p>
      </div>
      <button type="button" class="btn btn-primary" (click)="addToCart(item)">Add to Cart</button>
    </div>
    </div>
  </div>
</div>
