<div class="parent-container">
    <h1>Search Products</h1>
    <div class="search-product-show" *ngFor="let item of searchResult">
        <div class="img-search">
            <img [src]="item.image" alt="">
        </div>
        <div class="search-text">
            <h3>{{item.name}}</h3>
            <p><strong>{{item.text}}</strong></p>
            <p>₹{{item.price}} <span>₹{{item.disc_price}}</span></p>
            <p class="off">({{item.price_off}})</p>
            <button (click)="navigateToProductDetail(item.id)">View to detail</button>
            <button (click)="addToCart(item)">Add to Cart</button>
        </div>
    </div>
</div>