.parent-container{
    margin-top: 6rem;
    padding-top: 2rem;
    display: flex;
    flex-direction:column;
    border:1px solid #ddd;
    text-align: center;
    height: auto;
    padding-bottom: 2rem;
}
.search-product-show{
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
display: flex;
flex-direction: row;
height: 300px;
gap: 20px;
margin-top: 1rem;
margin-left: auto;
margin-right: auto;
}
.search-product-show .img-search img{
    width: 100%;
    height:100%;
    padding: .5rem;
}
.search-text{
    width: 50%;
    text-align: start;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.search-text button{
    margin-top: .5rem;
    border: none;
    padding: .5rem;
    border-radius: 5px;
    color: #fff;
    background-color: tomato;
    width: 50%;
    
}