<div class="container">
  <div class="inner-detail-container">
    <div class="img">
      <img
        src="https://assets.ajio.com/medias/sys_master/root/20230808/9x9d/64d2474aeebac147fcb45b0a/-473Wx593H-466434087-white-MODEL.jpg"
        alt=""
      />
    </div>
    <div class="detail">
      <h2 class="title">NETPLAY</h2>
      <p class="text">Zip-Front Puffer Jacket with Detachable Hood</p>
      <div class="pr">
        <p class="price">₹232</p>
        <p class="dis">₹555</p>
        <p class="off">(21% OFF)</p>
      </div>

      <h5>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
        voluptate nesciunt nisi, corporis distinctio dolores neque eaque ratione
        velit a ducimus iste dignissimos doloremque, nemo quod maiores,
        asperiores provident maxime?
      </h5>
      <div class="btn-div">
        <button>Add to cart</button>
      <button>Wishlist</button>
      </div>
      
    </div>
  </div>
</div>
