<div class="main">
    <div class="sidebar">
      <h2>Filter by</h2>
      <ul>
        <li><input type="checkbox" (change)="toggleCategoryFilter('All')" [checked]="isCategorySelected('All')"/> <span>All</span></li>
        <li><input type="checkbox" (change)="toggleCategoryFilter('Kurta')" [checked]="isCategorySelected('Kurta')"/> <span>Kurta</span></li>
        <li><input type="checkbox" (change)="toggleCategoryFilter('Palazzos')" [checked]="isCategorySelected('Palazzos')"/> <span>Palazzos</span></li>
        <li><input type="checkbox" (change)="toggleCategoryFilter('Saree')" [checked]="isCategorySelected('Saree')"/> <span>Saree</span></li>
        <li><input type="checkbox" (change)="toggleCategoryFilter('Dupatta')" [checked]="isCategorySelected('Dupatta')"/> <span>Dupatta</span></li>
        <li><input type="checkbox" (change)="toggleCategoryFilter('Blouse')" [checked]="isCategorySelected('Blouse')"/> <span>Blouse</span></li>
        <li><input type="checkbox" (change)="toggleCategoryFilter('Skirt')" [checked]="isCategorySelected('Skirt')"/> <span>Skirt</span></li>
        <li><input type="checkbox" (change)="toggleCategoryFilter('Shawl')" [checked]="isCategorySelected('Shawl')"/> <span>Shawl</span></li>
      
  
      </ul>
      <hr />
      <h2>Sort by Price</h2>
    <hr>
    <ul>
      <li><input type="radio" name="sortOption" [(ngModel)]="selectedSort" value="lowToHighPrice" (change)="sortProducts()"/> Low To High</li>
      <li><input type="radio" name="sortOption" [(ngModel)]="selectedSort" value="highToLowPrice" (change)="sortProducts()"/> High To Low</li>
    </ul>
    <hr />
    <h2>Sort by Best Discount</h2>
    <hr>
    <ul>
      <li><input type="radio" name="sortOption" [(ngModel)]="selectedSort" value="lowToHighDiscount" (change)="sortProducts()"/> Low To High</li>
      <li> <input type="radio" name="sortOption" [(ngModel)]="selectedSort" value="highToLowDiscount" (change)="sortProducts()"/> High To Low</li>
    </ul>
    </div>
    <!-- ---------------------- -->
    <div class="product-container">
      <div *ngFor="let item of filteredData" class="product">
        <div (click)="navigateToProductDetail(item.id)">
          <img [src]="item.image" alt="{{ item.name }}" />
        </div>
      <div class="product-info">
        <h2>{{ item.name }}</h2>
        <p>{{ item.text }}</p>
        <div class="price-discount">
          <p>₹{{ item.price }}</p>
          <p class="dis_p">₹{{ item.disc_price }}</p>
          <p class="off">({{ item.price_off }})</p>
        </div>
        <button type="button" class="btn btn-primary"  (click)="addToCart(item)">Add to Cart</button>
      </div>
      </div>
    </div>
  </div>
  